@import "../../styles/variables";

.movie {
  margin-right: 0.5em;
  cursor: pointer;

  .poster {
    border-radius: 5%;
    height: calc(150px * 1.5);
    width: auto;
    margin-top: 10px;
  }

  .posterImage {
    border: 5px solid $scrub;
    border-radius: 5%;
    height: calc(145px * 1.5);
    width: 100px;
    margin-top: 10px;
    padding: 0 25px;
  }

  .movieName {
    font-size: 1em;
    font-weight: 700;
    margin: 0.5em 0.25em;
    color: $silk;
    max-width: 150px;
  }
}

.movie:hover {
  transform: translateY(-10px);
}
