.movieRow {
  margin: 0 auto;
  width: 100%;
}

.title {
  text-transform: capitalize;
  margin-left: 1em;
}

.movies {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow: scroll;
  list-style: none;
  margin-left: 1em;
  padding: 0;

  .movie {
    margin-right: 0.5em;
    height: 100%;
    width: 100%;

    .poster {
      border-radius: 5%;
      height: calc(160px * 1.5);
      width: auto;
    }
  }
}

.movies::-webkit-scrollbar {
  display: none;
}
