@import "../../styles/variables";
@import "http://fonts.googleapis.com/css?family=Gluten";

nav {
  border-bottom: 1px solid $silk;
  padding: 1rem 1rem 1rem 3rem;
  font-family: "Gluten", sans-serif;
  font-size: 1.25rem;

  .link {
    text-decoration: none;
    color: $scrub;
  }
}
