@import "../../styles/variables";

.recContainer {
  padding: 0.5rem 1rem 1rem 3rem;

  h3 {
    color: $scrub;
    margin: 0.25em 0 0.5em;
  }

  .recRow {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    list-style: none;
    padding: 0;

    .rec {
      height: 100%;
      width: 100%;

      .itemPoster {
        margin-top: 10px;
      }

      .link {
        text-decoration: none;
        color: $silk;
        font-weight: 600;
      }
    }
  }
}

.rec:hover {
  transform: translateY(-10px);
}

.recRow::-webkit-scrollbar {
  background: $charleston;
}
.recRow::-webkit-scrollbar-thumb {
  background-color: $silk;
  border-radius: 6px;
  scrollbar-width: thin;
}
